<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}New Sails App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ sails.helpers.assetVersion('build/css/app.css') }}">
</head>

<body>
{% block body %}{% endblock %}

<script src="{{ sails.helpers.assetVersion('build/js/app.js') }}"></script>
</body>
</html>
